.footerGeral {
  width: 100%;
  height: 85px;
  background-color: #1a1a1a;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.footerGeral img {
  width: 75px;
}

/*RESPONSIVO FOOTER*/

@media (max-width: 768px) {
  .footerGeral {
    height: auto;
    padding: 30px 0;
    flex-direction: column;
  }

  .footerGeral img {
    width: 15%;
  }

  .logoFooter {
    padding: 0;
  }

  .boxlogoFooter {
    text-align: center;
  }

  .pFooter {
    margin: 25px 0;
  }
}
