@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

tr {
  opacity: 0;
  animation: transicao 0.3s forwards;
}

@keyframes transicao {
  to {
    opacity: initial;
    transform: initial;
  }
}
